---
---
@import "minima";

.post-list .post-link {
  font-size: 1rem; /* matches body text */
}

.wrapper a {
  font-size: 1rem;
  color: #2a7ae2; /* Minima's default link blue */
  text-decoration: underline;
}