---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');

.post-list h2 {
  font-size: 1rem;
  margin: 0 0 0.25rem;
}

body {
  font-family: 'Lora', serif;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-weight: 600;
}

.post-list .post-link {
  font-size: 1rem;
}